body {
	background-color: mediumpurple;
	text-align: center;
}
body{
	background-image: url('rene2.jpg');
	background-size: 50% 200%;
}

hr {
	width: 50%;
}

h1 {
	color: red;
}

h3 {
	color: blue;
}

p {
	color: purple;
}